*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.comfortaa-heading{
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        to right,
        #f9f9f9 0%,
        #f9f9f9 70%,
        rgb(53, 210, 238) 90%,
        rgb(53, 210, 238) 100%
    );
}    

header{
    display: flex;
    width: 100%;
}

.logo{
    width: 19vw;
    height: 30vh;
    transition: 1s;
}

.logo:hover{
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.377),
    -10px -10px 10px white;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 24px;
    flex-direction: row;
    gap: clamp(10rem, 2vw, 2rem);
}

a{
    color:rgb(10, 182, 61);
    font-family: "Comfortaa", sans-serif;    
    font-weight: 700;
/* border: 4px solid rgb(0, 0, 0); */
    border-radius: 10px;
    padding: 17px;
    transition: color 0.4s ease-in-out;
    font-size: 50px;
    position: relative;
}

a:hover{
    color: rgb(0, 132, 250);
}

a::after{
    content: "";
    width: 0%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    bottom: -3px;
    transition: width 0.4s ease-in;
    left: 0px;
    display: block;
}

a:hover::after{
    width: 100%;
    height: 5px;
}

.content{
    display: flex;
    flex-direction: row;
}

h1{
    font-family: 'Comfortaa', sans-serif;
    color: rgb(5, 211, 211);
    font-size: 58px;
    margin-top: 1.375rem;
    padding-left: 1.2rem;
    width: 80%;
}

p{
    width: 90%;
    font-family: 'Comfortaa', sans-serif;
    padding-left: 1.2rem;
    margin-top: 1.75rem;
    font-size: 20px;
}


button {
    margin-top: 2.375rem;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    border-radius: 10px;
    height: 7em;
    width: 8em;
    font-family: 'Comfortaa', sans-serif;
    align-items: center;
    
    --glow-color: rgb(53, 210, 238);
    --glow-spread-color: rgba(123, 255, 237, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(255, 255, 255);
    border: none;
    color: rgb(10, 182, 61);
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em 0.25em var(--glow-color),
                0 0 4em 1em var(--glow-spread-color),
                inset 0 0 0.75em 0.25em var(--glow-color);
    text-shadow: 0 0 0.5em rgb(7, 148, 177);
    position: relative;
    transition: all 0.3s;
  }

  button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }
  
  button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em 0.25em var(--glow-color),
                0 0 4em 2em var(--glow-spread-color),
                inset 0 0 0.75em 0.25em var(--glow-color);
  }
  
  button:active {
    box-shadow: 0 0 0.6em 0.25em var(--glow-color),
                0 0 2.5em 2em var(--glow-spread-color),
                inset 0 0 0.5em 0.25em var(--glow-color);
  }
  
  

.can{
    position: relative;
    left: -130px;
}

/*  .header-nav {
    position: relative;
    animation: float 4s ease-in-out infinite;
  }
  
  @keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
  } */
  